@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --maxwidth: 1280px;
  --whitee: #356232;
  --lightgrey: #eee;
  --medgrey: #353535;
  --darkgrey: #1c1c1c;
  --fontSuperBig: 2.5rem;
  --fontBig: 1.5rem;
  --fontMed: 1.2rem;
  --fontSmall: 1rem;
}


.hover\:shadow-gradient-to-l:hover {
  box-shadow: 0 4px 6px -1px rgba(171, 64, 244, 0.7), 0 2px 4px -2px rgba(171, 64, 244, 0.7), 0 4px 6px -1px rgba(0, 206, 201, 0.7), 0 2px 4px -2px rgba(0, 206, 201, 0.7);
}


body {
  --tw-bg-opacity: 1;
  background-color: #222831;
}
